.career-container {
    padding: 3.75rem ;
  
    .row {
      margin-left: 0; // Remove left margin to align with the edge
    }
  
    .page-title {
      font-size: 3.75rem;
      margin-bottom: 0.5rem;
    }
  
    .breadcrumb {
        font-size: 1rem;
        color: black;
        opacity: 70%;
        margin-bottom: 1.5rem;
      
        a {
          color: black;
          text-decoration: none;
        }
      }
  
    .special-offer-badge {
      display: inline-block;
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 150px;
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }
  
    .main-heading {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  
    .main-content {
      font-size: 1rem;
      line-height: 1.6;
      color: #333;
    }

    .job-positions {
      margin-top: 100px;
    }
  
    // Responsive adjustments
    @media (max-width: 768px) {
      .page-title {
        font-size: 2rem;
      }
  
      .main-heading {
        font-size: 1.5rem;
      }
    }
  }

.no-job-positions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc; // Optional border
  border-radius: 8px; // Rounded corners
  background-color: #f9f9f9; // Light background color
  color: #555; // Text color
}

.no-job-icon {
  font-size: 40px; // Icon size
  color: black; // Icon color
  margin-bottom: 10px; // Space between icon and text
}