@import '/Users/kavyaarora/Desktop/Task1/first/src/Assets/Css/variables.scss';

.product-filters {
    background-color: $header-bg;

    .accordion-button {
        background-color: $highlight-color;  
        color: $black;  
        font-weight: bolder;

        &:not(.collapsed) {
            background-color: $highlight-color;
            color: $black;
        }
    }

    .accordion-body {
        background-color: $header-bg;
    }

    .list-group-item {
        background-color: $header-bg;
        color: white;
        border: none;
        font-size: 1rem;
    }

    .list-group-item:hover {
        background-color: #f5f5f5;
        color: $black;  
        cursor: pointer;
    }

    // Browse by Popular Category Section
    .browse-category {
        background-color: white;
    
        h3 {
            color: $black;
        }
    
        .category-tags {
            .tag {
                background-color: $header-bg;
                color: white;
                text-decoration: none;
                text-align: center;
                font-size: 0.9rem;
                cursor: pointer;
                display: block;  // Ensure full block-level for w-100
                width: 100%;  // Full width for tags
                padding: 8px 12px;
                border-radius: 5px;
                white-space: nowrap;  // Prevents text from overflowing the tag
                overflow: hidden;  // Hides any overflow
            }
    
            .tag:hover {
                background-color: #f5f5f5;
                color: black;
                border: 1px solid black;
            }
        }
    }
    
    
}


