$header-bg: #2C2E3A;
$header-top-bg: #141519;
$highlight-color: #EABE67;
$search-bg: #2f3035;
$black: #000000;

/* Global font */
$font-family-global: "Montserrat-SemiBold", Helvetica, sans-serif;

body {
  font-family: $font-family-global;
}