@import '../variables.scss';

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.coupon-section {
    border-top: 1px dotted #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.coupon-text {
    border: 1px dotted red;
    font-size: 0.875rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

.icon1 {
    border: 1px dotted red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    flex-shrink: 0;
}

.icon i {
    font-size: 1.25rem;
}

.copied-tooltip {
    position: absolute;
    top: 290px;
    right: 0;
    background-color: $header-bg;
    color: $highlight-color;
    font-size: 0.75rem;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    animation: fadeInOut 1s forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

// Media query for screens between 768px and 992px
@media (min-width: 768px) and (max-width: 992px) {
    .card-img-top {
        height: 220px; // Further reduce image height
    }

    .coupon-section {
        padding: 0.25rem;
    }

    .coupon-text {
        font-size: 0.65rem; // Significantly reduce font size
        max-width: 80%; // Increase max-width to allow more text
        text-overflow: clip; // Remove ellipsis
        overflow: visible; // Show all text
    }

    .icon1 {
        width: 20px; // Further reduce icon size
        height: 30px;
    }
}

// Media query for screens up to 768px
@media (max-width: 768px) {
    .card-img-top {
        height: 250px;
    }

    .coupon-section {
        padding: 0.25rem;
    }

    .coupon-text {
        font-size: 0.75rem;
    }

    .icon1 {
        width: 25px;
        height: 35px;
    }
}