.recommended-product {
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;

    .product-image {
      width: 100%;
      height: auto;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
  
    .product-title {
      font-size: 1.1rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }
  
    .product-rating {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      .star {
        color: #d6d6d6;
        &.filled {
          color: #EABE67;
        }
      }
      .review-count {
        color: #2C2E3A;
        margin-left: 0.25rem;
      }
    }
  
    .product-price {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  
    .btn-warning {
      border-radius: 11px;
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      text-align: center;
    }
}

// Mobile styles for Swiper
@media (max-width: 767px) {
  .recommended-products-swiper {
    .recommended-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .product-image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      .product-details {
        width: 100%;
      }
    }
  }
}
