@import 'swiper/css';
@import 'swiper/css/pagination';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.table-responsive {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .form-control-responsive {
    font-size: 0.875rem;
  }

  .h1-responsive {
    font-size: 1.5rem;
  }

  .h2-responsive {
    font-size: 1.25rem;
  }
}
