.personal-info-form {
  
    .title-selection {
      display: flex;
      margin-bottom: 1rem;
      width: 8.938rem; // Adjust this value to match the desired width
  
      .title-btn {
        padding: 0.25rem 0.5rem; // Reduced padding
        border: 1px solid #000;
        cursor: pointer;
        flex: 1;
        font-size: 0.875rem; // Slightly smaller font size
  
        &:first-child {
          border-right: none;
        }
  
        &.active {
          background-color: #000;
          color: #fff;
        }
      }
    }
  
    .form-input {
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      font-size: 1rem;
      background-color: #fff;
  
      &::placeholder {
        color: #999;
      }
    }
  
    .address-inputs {
      display: flex;
      gap: 1rem;
  
      .street {
        flex: 2;
      }
  
      .houses, .postcode, .location {
        flex: 1;
      }
    }
  
    select.form-input {
      appearance: none;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: right 0.7rem top 50%;
      background-size: 0.65rem auto;
    }
  
    .required-field-note {
      font-size: 0.8rem;
      color: #666;
      margin-bottom: 1rem;
    }
  
    .checkbox-container {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1rem;
  
      .custom-checkbox {
        margin-right: 0.5rem;
        margin-top: 0.2rem;
      }
  
      label {
        font-size: 0.9rem;
        line-height: 1.2;
      }
    }
  
    .info-text {
      font-size: 0.8rem;
      color: #666;
      margin-bottom: 1rem;
      margin-left: 1.5rem;
    }
  
    .shipping-address {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #ccc;
    }
  }